* {
  box-sizing: border-box;
}

.container {
  max-width: 1300px;
  padding: 0 20px;
  margin: 0 auto;
  text-align: center;
  max-width: 90vh;
}

body {
  font-family: "Comfortaa", cursive;
  color: #F8EFBA;
  background-color: #01a3a4;
  font-weight: 700;
}

header {
  text-align: center;
}

h3 {
  font-size: 25px;
}

h4 {
  font-size: 20px;
}

.flex {
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-direction: row;
      flex-direction: row;
  text-align: center;
  margin-top: 60px;
}

.flex i {
  font-size: 60px;
  color: #fed136;
  font-weight: bold;
}

.flex h1 {
  font-family: 'Bowlby One SC', cursive;
  letter-spacing: 1.8px;
  font-size: 58px;
  text-transform: uppercase;
  margin-bottom: 0;
  padding: 0 20px;
  text-shadow: 1px 1px 4px #2d3436;
}

.roundScore {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-direction: row;
      flex-direction: row;
}

.roundScore > h2 {
  font-size: 33px;
  font-weight: bold;
  color: #fed136;
}

.roundScore > h3 {
  margin: 0 auto;
  padding: 0;
}

.roundScore h4 {
  background-color: #006266;
  padding: 10px;
}

.roundScore #comp-score,
.roundScore #player-score {
  font-size: 30px;
}

.roundScore #comp-move,
.roundScore #user-move {
  color: #fed136;
}

.roundScore .left {
  -ms-flex: 0 0 32%;
      flex: 0 0 32%;
  font-size: 30px;
}

.roundScore .right {
  -ms-flex: 0 0 32%;
      flex: 0 0 32%;
  font-size: 30px;
}

.roundScore .center {
  -ms-flex: 0 0 32%;
      flex: 0 0 32%;
}

#buttons {
  position: relative;
}

button {
  padding: 12px 18px;
  margin: 50px 8px 25px 8px;
  font-size: 20px;
  text-transform: uppercase;
  border-radius: 6px;
  color: #2d3436;
  background-color: #fed136;
  font-weight: bold;
  border-color: #fed136;
  box-shadow: 1px 1px 4px #2d3436;
}

button:hover {
  color: #fed136;
  background-color: #006266;
  border-color: #006266;
  cursor: pointer;
}

#messages {
  display: inline-block;
  margin: 20px;
  padding: 25px;
  font-size: 30px;
  border: 3px solid #fed136;
  border-radius: 7px;
  background-color: #006266;
  text-shadow: 1px 1px 4px #2d3436;
}

.score {
  font-size: 30px;
}

.score > div {
  padding: 70px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-flex: 0 0 32%;
      flex: 0 0 32%;
}

#reset {
  position: absolute;
  left: 30px;
  top: 210px;
  background: none;
  color: #F8EFBA;
  box-shadow: none;
  font-size: 17px;
  padding: 8px 10px;
}

@media (max-width: 767px) {
  #reset {
    top: 240px;
    left: 10px;
  }
  .flex i {
    font-size: 45px;
  }
  .flex h1 {
    font-size: 30px;
    padding-left: 0;
  }
  .online {
    font-size: 25px;
  }
  .roundScore .flex {
    -ms-flex-direction: column;
        flex-direction: column;
  }
  .roundScore h3 {
    font-size: 20px;
  }
  .roundScore h2 {
    font-size: 30px;
  }
  .roundScore .left {
    left: 0;
    -ms-flex: 0 0 50%;
        flex: 0 0 50%;
  }
  .roundScore .right {
    right: 0;
    -ms-flex: 0 0 50%;
        flex: 0 0 50%;
  }
  .roundScore .center {
    -ms-flex: 0 0 100%;
        flex: 0 0 100%;
  }
  button {
    margin-top: 90px;
  }
}
/*# sourceMappingURL=style.css.map */